[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD
	last = log -1
[color "diff"]
	meta = blue black bold
[user]
    name = henry-zhuang
    ;name = shixi_wenhui
    email = mountainsea@outlook.com
    ;email = shixi_wenhui@staff.weibo.com
[core]
	excludesfile = /Users/MasterMac/.gitignore_global
    gitproxy = proxy-wrapper
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/1.9.4.1/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
;[http]
    ;proxy = socks5://127.0.0.1:1080
;[https]
    ;proxy = socks5://127.0.0.1:1080
